<div>
    <br>
    <div class="subtitle is-4" style="margin-top: 1.2rem;">Deliver to: </div>
    <div class="columns is-multiline is-mobile">
        <div class="column is-half-desktop ">
           <p class="is-fullwidth">Hotel Jen 2nd floor ballroom,<br>Ameer Ahmed Magu, Male 20096<br>Maldives</p>
        </div>
    </div>
    <hr>
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <p>Subtotal</p>
            <p>GST</p>
            <p>Shipping</p>
            <p class="has-text-weight-bold">TOTAL</p>
        </div>
        <div class="column">
            <p style="text-align: right; padding: 2px">MVR 14.00</p>
            <p style="text-align: right; padding: 2px">MVR 7.00</p>
            <p style="text-align: right; padding: 2px">FREE</p>
            <p style="text-align: right; padding: 2px" class="has-text-weight-bold">MVR 21.00</p>
        </div>
    </div>
    <hr>
    <div class="columns">
        <hr>
        <div class="column is-mobile">
            <a class="button is-black is-half-desktop is-pulled-right is-fullwidth">PLACE ORDER</a>
        </div>
        <br>
    </div>
</div>
