<div>
    <br>
    <div class="hero">
        <h1 class="title is-3 has-text-centered">MY ACCOUNT</h1>
    </div>
    <div class="has-background-light head-block">
        <h1 class="title is-5 has-text-centered">Hi, Shamis Sabah</h1>
    </div>
    <div class="columns is-multiline is-mobile item-block">
        <div class="column is-11">
            <h1 class="subtitle is-5">MY ORDERS</h1>
            <h2 class="subtitle is-6 has-text-grey">Order Status, History and Tracking</h2>
        </div>
        <div class="column">
            <fa prefix="fas" icon="faChevronRight" />
        </div>
    </div>
    <div class="columns is-multiline is-mobile item-block">
        <div class="column is-11">
            <h1 class="subtitle is-5">PROFILE</h1>
            <h2 class="subtitle is-6 has-text-grey">Name, email and password</h2>
        </div>
        <div class="column">
            <fa prefix="fas" icon="faChevronRight" />
        </div>
    </div>
    <div class="columns is-multiline is-mobile item-block">
        <div class="column is-11">
            <h1 class="subtitle is-5">LOG OUT</h1>
            <h2 class="subtitle is-6"></h2>
        </div>
        <div class="column">
            <fa prefix="fas" icon="faSignOutAlt" />
        </div>
    </div>
</div>
</div>